@model Store.Models.Product
@{ 
    ViewBag.Title = "Добавление товара";
}


<form asp-action="Create" asp-controller="Home" enctype="multipart/form-data">
    <div>
        <label asp-for="Name">Название товара:</label>
        <input asp-for="Name" type="text" />
    </div>
    <div>
        <label asp-for="Price">Цена:</label>
        <input type="number" asp-for="Price" />
    </div>
    <div>
        <label asp-for="TitleImagePath">Картинка:</label>
        <input type="file" name="titleImageFile"/>
    </div>
    <div>
        <input type="submit" value="Отправить" />
    </div>
</form>
