@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="block1">
    <h2>Services</h2>
    <p>Proin iaculis purus consequat sem cure. </p>
    <div class="wrap">
        <div class="item">
            <div class="krug">
                <img src="~/img/it1.png" alt="">
            </div>
            <h2>E-Commerce</h2>
            <p>
                Proin iaculis purus consequat sem cure
                digni ssim. Donec porttitora entum suscipit
                aenean rhoncus posuere odio in tincidunt.
            </p>
        </div>
        <div class="item">
            <div class="krug">
                <img src="~/img/it2.png" alt="">
            </div>
            <h2>Responsive Web</h2>
            <p>
                Proin iaculis purus consequat sem cure
                digni ssim. Donec porttitora entum suscipit
                aenean rhoncus posuere odio in tincidunt.
            </p>
        </div>
        <div class="item">
            <div class="krug">
                <img src="~/img/it3.png" alt="">
            </div>
            <h2>Web Security</h2>
            <p>
                Proin iaculis purus consequat sem cure
                digni ssim. Donec porttitora entum suscipit
                aenean rhoncus posuere odio in tincidunt.
            </p>
        </div>
    </div>
</div>
