@model Product


<div>
    <h2>@Model.Name</h2>
    <img src="~/img/productimg/@Model.TitleImagePath" alt="" />
    <p>Стоимость: @Model.Price</p>
    <div class="slider-wrapper">
        <div class="slider-container">
            <div class="slider-track">
                @foreach (var a in ViewBag.Media)
                {
                    if (a.Extension == ".mp4")
                    {
                        <video controls>
                            <source src="~/img/images/@a.Id@a.Extension" type="video/mp4">
                        </video>
                    }
                    else
                    {
                        <img class="slider-item" src="~/img/images/@a.Id@a.Extension" alt="" />
                    }
                }
            </div>
        </div>
        <div class="circle-wrap" id="circle-wrap"></div>
        <div class="slider-buttons">
            <div class="btn-prev">Prev</div>
            <div class="btn-next">Next</div>
        </div>
    </div>
    <p>Описание: @Model.Description</p>
</div>