@model Product
@{
    ViewBag.Title = "Добавление товара";
}


<form action="" method="post" enctype="multipart/form-data">
    <input id="TitleImagePath" type="hidden" asp-for="TitleImagePath" />
    <div>
        <label asp-for="Name">Название товара:</label>
        <input asp-for="Name" type="text" />
    </div>
    <div>
        <label asp-for="Price">Цена:</label>
        <input type="number" asp-for="Price" />
    </div>
    <div id="imgdiv" style="border:1px solid green;">
        <label>Картинка: </label>
        <input id="inp" type="file" name="titleImageFile" />
        <button id="delete" class="delete">x</button>
        <div>
            <img src="~/img/productimg/@Model.TitleImagePath" id="image" />
        </div>
        <script>
            const inp = document.getElementById("inp");
            const image = document.getElementById("image");
            inp.addEventListener('input', myFunc);            // display image on change the file input
            function myFunc(e) {
                var str = URL.createObjectURL(e.target.files[0]);
                image.src = str;
                a.style.display = "inline-block";
            }
            //let a = document.createElement("a");
            let a = document.getElementById("delete");
            @*a.style.color = "red";
            a.innerHTML = "X";
            a.style.display = "none";
            inp.after(a);*@
            a.onclick = function (e) {
                e.preventDefault();

                image.src = "";
                a.style.display = "none";
                inp.value = "";

            @*    alert("The image will be dleted.");
                let TitleImagePath = document.getElementById("TitleImagePath");
                if (TitleImagePath.value !==default) {
                    const xhr = new XMLHttpRequest();
                    xhr.open("POST", "/Admin/Edit/DeleteTitleImage");
                    xhr.onload = () => {
                        if (xhr.status != 200) {              
                            alert("Не удалось удалить картинку, попробуйте еще раз");
                            image.src = TitleImagePath.value;
                        }
                    };
                    xhr.send();   
                }*@
            };
            if (image.getAttribute("src").replace(/^.*[\\\/]/, '') != "") {
                a.style.display = "inline-block";
            }
        </script>

    </div>
    <div>
        <label asp-for="Description">Описание:</label>
        <textarea asp-for="Description"></textarea>
    </div>
    <div id="files">
        <label>Медиа:</label>
        <div class="addfile" id="addfile">+</div>
        <div class="slider-wrapper">
            <div class="slider-container">
                <div class="slider-track">
                    @foreach (var a in ViewBag.Media)
                    {
                        if (a.Extension == ".mp4")
                        {
                            <video controls>
                                <source src="~/img/images/@a.Id@a.Extension" type="video/mp4">
                            </video>
                        }
                        else
                        {
                            <img class="slider-item" src="~/img/images/@a.Id@a.Extension" alt="" />
                        }
                    }
                </div>
            </div>
            <div class="circle-wrap" id="circle-wrap"></div>
            <div class="mini-slider"></div>
            <div class="slider-buttons">
                <div class="btn-prev">Prev</div>
                <div class="btn-next">Next</div>
            </div>
        </div>
        <script>
            let addfile = document.getElementById('addfile');
            addfile.onclick = function (e) {
                let input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('name', 'uploads');
                input.setAttribute('multiple', 'multiple');
                input.setAttribute('hidden', 'hidden');
                document.getElementById('files').appendChild(input);
                input.click();
            }
        </script>
    </div>
    <div>
        <label asp-for="ForHuman">Для кого:</label>
        <select asp-for="ForHuman" asp-items="@new SelectList(Enum.GetNames(typeof(ForWho)))"></select>
    </div>
    <div>
        <button asp-area="Admin" asp-controller="Edit" asp-action="Edit">Сохранить</button>
    </div>
</form>
